<p style="color: green"><%= notice %></p>

<h1 class="h3 mb-4 text-gray-800">Pedidos</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
          <th>Usuário</th>
          <th>Status</th>
          <th>Email</th>
          <th>Total</th>
          <th>Tipo de Pagamento</th>
          <th>Endereço</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Ações</th>
          </thead>
          <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.first_name %></td>
              <td><%= Order.human_attribute_name("status.#{order.status}") %></td>
              <td><%= order.email %></td>
              <% price_total = WishItem.all.map{|item| item.product.price }.sum %>
              <td><%= number_to_currency( price_total) %></td>
              <td><%= order.payment_method %></td>
              <td><%= order.street %></td>
              <td><%= order.city %></td>
              <td><%= order.state %></td>
              <td>
                <%= link_to "Detalhes", admin_order_path(order), class: 'btn btn-dark' %>
                <%= link_to "Editar", edit_admin_order_path(order), data: { controller: 'admin-modal' }, class: 'btn btn-warning' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>